<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>  
    <main>
        <embed src="retrieveCV?cv_name=CV-3-2-22" width="800px" height="2100px" />
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>