<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container" style="background-color: azure;">
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="uk-margin-medium-top" uk-grid>
            <div class="uk-align-center uk-width-2-3">
                <div>
                    <h1 style="text-align: center; color:blueviolet;">¡Bienvenido a Tira CV!</h1>
                    <p class="uk-text-meta uk-text-break" style="text-align: center; color:blueviolet;">Con Tira CV,
                        contratar es mucho mas facil. Consegui tu codigo QR para que todos tus candidatos te dejen su
                        curriculum en un mismo lugar. Vas a poder encontrar todas las propuestas en tu pagina de
                        candidatos.
                    </p>
                    <hr>
                    <h4 style="text-align: center; color:blueviolet;">Todos los curriculums 
                        de tus candidatos en un mismo lugar</h4>
                </div>
                <div class="uk-flex uk-flex-center uk-margin-medium-top">
                    <ul uk-accordion="collapsible: false">
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Ignacio Vazquez</a>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Nicolas Rampoldi
                            </a>
                            <div class="uk-accordion-content">
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Francisco Bernad</a>
                            <div class="uk-accordion-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>