<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container" style="background-color: azure;">
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div uk-grid>
            <!-- <div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(images/cover.jpg);">
                <h1 style="text-align: center; color:blueviolet;">¡Bienvenido a Tira CV!</h1>
                <p class="uk-text-meta uk-text-break" style="text-align: center; color:blueviolet;">Con Tira CV,
                    contratar es mucho mas facil. Consegui tu codigo QR para que todos tus candidatos te dejen su
                    curriculum en un mismo lugar.
                </p>
            </div> -->
            <div class="uk-inline">
                <img src="images/cover.jpg" width="1800" height="1200" alt="">
                <div class="uk-overlay-default uk-position-cover"></div>
                <div class="uk-overlay uk-position-center uk-light">
                    <!-- <h1 style="text-align: center; color:blueviolet;">¡Bienvenido a Tira CV!</h1> -->
                    <p class="uk-text-meta uk-margin-auto uk-text-break"
                        style="width: 70%; font-size: 4rem; color:blueviolet;">
                        Ahora contratar es mucho mas facil. Genera tu codigo QR para que todos tus candidatos te dejen
                        su
                        curriculum en un mismo lugar.
                    </p>
                </div>
            </div>

            <div class="uk-text-center uk-margin" uk-grid>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/image1.jpg" style="object-fit:cover;
                            width:auto;
                            height:200px;
                            border: solid 1px #CCC" alt="">
                        </div>
                        <div class="uk-card-body" style="background-color: #36c6ae;">
                            <p class="uk-text-large" style="text-align: center; color:blueviolet;">
                                1 - Registra tu empresa en Tira CV
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/image2.jpg" 
                            style="object-fit:cover;
                            width:350px;
                            height:200px;
                            border: solid 1px #CCC" alt="">
                        </div>
                        <div class="uk-card-body" style="background-color: #36c6ae;">
                            <p class="uk-text-large" style="text-align: center; color:blueviolet;">
                                2 - Obtene el codigo QR
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/image3.jpg" 
                            
                            style="object-fit:cover;
                            width:auto;
                            height:200px;
                            border: solid 1px #CCC" alt="">
                        </div>
                        <div class="uk-card-body" style="background-color: #36c6ae;">
                            <p class="uk-text-large" style="text-align: center; color:blueviolet;">
                                3 - Pegalo en la puerta de tu local
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-4">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/image4.jpg" 
                            style="object-fit:cover;
                            width:350px;
                            height:200px;
                            border: solid 1px #CCC" alt="">
                        </div>
                        <div class="uk-card-body" style="background-color: #36c6ae;">
                            <p class="uk-text-large" style="text-align: center; color:blueviolet;">
                                4 - Visualiza las aplicaciones
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-align-center uk-width-2-3">
                <h2 style="text-align: center; color:blueviolet;">Todo esto con solo 4 pasos! Que estas esperando?</h3>
                <hr>
                <h4 style="text-align: center; color:blueviolet;">Todos los curriculums
                    de tus candidatos en un mismo lugar</h4>

                <!-- <ul class="uk-list">
                        <li class="uk-text-large" style="text-align: center; color:blueviolet;">1 - Registra tu empresa
                            en Tira CV</li>
                        <li class="uk-text-large" style="text-align: center; color:blueviolet;">2 - Obtene el codigo QR
                        </li>
                        <li class="uk-text-large" style="text-align: center; color:blueviolet;">3 - Pegalo en la puerta
                            de tu local</li>
                        <li class="uk-text-large" style="text-align: center; color:blueviolet;">4 - Visualiza las
                            aplicaciones recibidas</li>
                    </ul> -->
                <div class="uk-flex uk-flex-center uk-margin-medium-top">
                    <ul uk-accordion style="width: 100%;">
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Michelle
                                Jewett</a>
                            <div class="uk-accordion-content">
                                <embed src="Michelle_Jewett.pdf" width="100%" height="2100px" />
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Emma Wilson
                            </a>
                            <div class="uk-accordion-content">
                                <embed src="Emma_wilson.pdf" width="100%" height="2100px" />
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Jason
                                Miller</a>
                            <div class="uk-accordion-content">
                                <embed src="cv1.pdf" width="100%" height="2100px" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </main>
</body>

</html>