<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container" style="background-color: azure;">
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="uk-margin-medium-top" uk-grid>
            <div class="uk-align-center uk-width-2-3">
                <div>
                    <h1 style="text-align: center; color:blueviolet;">¡Bienvenido a Tira CV!</h1>
                    <p class="uk-text-meta uk-text-break" style="text-align: center; color:blueviolet;">Con Tira CV,
                        contratar es mucho mas facil. Consegui tu codigo QR para que todos tus candidatos te dejen su
                        curriculum en un mismo lugar. Vas a poder encontrar todas las propuestas en tu pagina de
                        candidatos.
                    </p>
                    <hr>
                    <h4 style="text-align: center; color:blueviolet;">Todos los curriculums 
                        de tus candidatos en un mismo lugar</h4>
                </div>
                <div class="uk-flex uk-flex-center uk-margin-medium-top">
                    <ul uk-accordion style="width: 100%;">
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Michelle Jewett</a>
                            <div class="uk-accordion-content">
                                <embed src="Michelle_Jewett.pdf" width="100%" height="2100px" />
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Emma Wilson
                            </a>
                            <div class="uk-accordion-content">
                                <embed src="Emma_wilson.pdf" width="100%" height="2100px" />
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" style="color:blueviolet;" href="#">Jason Miller</a>
                            <div class="uk-accordion-content">
                                <embed src="cv1.pdf" width="100%" height="2100px" />
                            </div>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>