<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <main>
        <form class="form" action="/dashboard" method="GET">
            <input name="employer" class="form-control" placeholder="Ingrese su nombre de usuario" type="text" required>
            <br>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </main>

</body>

</html>