<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container" style="background-color: azure;">
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <div class="uk-margin-medium-top" uk-grid>
            <div class="uk-align-center uk-width-2-3">
                <div>
                    <h1 style="text-align: center; color:blueviolet;">Empeza a usar Tira CV!</h1>
                    <hr>
                    <form class="form" action="/dashboard" method="GET">
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend" style="color:blueviolet;">Entra con tu nombre de usuario</legend>
                            <% if (locals.error) { %>
                                <p class="uk-text-default uk-text-danger"><%= error%></p>
                               <% } %>
                            <div class="uk-margin">
                                <input name="employer" class="uk-input form-control" placeholder="Ingrese su nombre de usuario"
                                type="text" required>
                            </div>
                            <div class="uk-margin">
                                <p> Todavia no tenes un usuario? <a href="/register"> Registrate!</a></p>
                            </div>
                            <div class="uk-align-center uk-width-1-2">     
                                <button type="submit" class="uk-button uk-button-default uk-border-rounded extended-button" style="color:blueviolet; background-color: azure;">Entrar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>