@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@page {
  size: auto;   /* auto is the initial value */
  margin: 0;  /* this affects the margin in the printer settings */
}
