<nav class="uk-navbar-container" style="background-color: aqua;" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="navbar-item">
        <a class="uk-logo uk-text-lead" style="color:blueviolet;" href="/">
          <img src="images/icon.png"/>    
        Tira CV
      </a>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li class="navbar-item">
        <a class="nav-link uk-text-lead" style="color:blueviolet;" href="/login">Entrar</a>
      </li>
    </ul>
  </div>
</nav>