<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">TIRACV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/qrtest">QR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Tira CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/retrieve">Busca un CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/showCV">Mira un CV</a>
      </li>
    </ul>
  </div>
</nav>