<nav class="uk-navbar-container uk-padding-remove" style="background-color: #36c6ae;" uk-navbar>
  <div class="uk-navbar-left uk-margin-small-left">
    <a class="uk-logo" style="color:blueviolet;" href="/">
      <img src="images/icono.png" />
    </a>
  </div>
  <div class="uk-navbar-right uk-margin-small-right">
      <a class="uk-button uk-button-default uk-border-rounded" style="color:blueviolet;" href="/login">
        Entrar
      </a>
  </div>
</nav>